.main-home .ladies-night-at-levels-sukhumvit-11-siam-2-nite-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/ladies_night_at_levels_sukhumvit_11_siam_2_nite_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -85px;
  width: 1541px;
  height: 1024px;
}
.main-home .rectangle-71 {
  border-radius: 16.8px;
  position: absolute;
  left: 369px;
  top: 331.4px;
  width: 139px;
  height: 30.1px;
}
.main-home .rectangle-11 {
  border-radius: 16.8px;
  position: absolute;
  left: 369px;
  top: 522.4px;
  width: 139px;
  height: 30.1px;
}
.main-home .rectangle-14 {
  border-radius: 16.8px;
  position: absolute;
  left: 369px;
  top: 714.4px;
  width: 139px;
  height: 30.1px;
}
.main-home .rectangle-15 {
  border-radius: 16.8px;
  position: absolute;
  left: 369px;
  top: 892.4px;
  width: 139px;
  height: 30.1px;
}
.main-home .hello {
  margin-right: 64px;
  width: 764.1px;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 101.8px;
  color: #FFFFFF;
}
.main-home .find-you-abar-restaurant-night-club-cafe {
  margin-bottom: 20.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 800;
  font-size: 18px;
  color: #FFFFFF;
}
.main-home .search {
  margin-right: 187.8px;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.main-home .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.main-home .rectangle-50 {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 443.8px;
  height: 58.2px;
}
.main-home .group {
  position: absolute;
  left: 21.6px;
  bottom: 11.3px;
  width: 35.1px;
  height: 35.1px;
}
.main-home .group-2 {
  position: relative;
  margin-right: 16.6px;
  display: flex;
  padding: 0 26px 18.8px 4.9px;
  box-sizing: border-box;
}
.main-home .vector-12 {
  width: 23.3px;
  height: 20px;
}
.main-home .akar-iconsthree-line-horizontal {
  margin: 0 6.8px 12.3px 10.5px;
  display: flex;
  width: 23.3px;
  height: 20px;
  box-sizing: border-box;
}
.main-home .container-6 {
  width: 40.6px;
  height: 9.4px;
}
.main-home .group-1 {
  display: flex;
  width: 40.6px;
  height: 9.4px;
  box-sizing: border-box;
}
.main-home .container-19 {
  margin: 19.4px 0 26.5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40.6px;
  height: fit-content;
  box-sizing: border-box;
}
.main-home .container-16 {
  margin: 12.5px 0 27.9px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.main-home .container-5 {
  position: relative;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1329px;
  box-sizing: border-box;
}
.main-home .some-club-recommendations {
  position: relative;
  margin: 0 5px 31px 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
}
.main-home .screenshot-20240416-at-11081 {
  border-radius: 30px;
  background: url('../assets/images/screenshot_20240416_at_11081.png') 50% / cover no-repeat;
  width: 191px;
  height: 148px;
}
.main-home .container-8 {
  border-radius: 30px;
  background: rgba(217, 217, 217, 0.5);
  position: relative;
  margin-right: 33px;
  display: flex;
  padding: 8px 11px 9px 11px;
  width: 213px;
  height: 165px;
  box-sizing: border-box;
}
.main-home .carpadiem-restaurant-bar {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
}
.main-home .removebg-preview-1 {
  background: url('../assets/images/removebg_preview_4.png') 50% / cover no-repeat;
  margin-bottom: 9px;
  align-self: flex-start;
  width: 165px;
  height: 42px;
}
.main-home .more-info {
  margin: 0 19px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.main-home .container-3 {
  margin: 21px 0px 24px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main-home .container-14 {
  position: relative;
  margin: 0 32px 26px 32px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.main-home .screenshot-20240416-at-11101 {
  border-radius: 30px;
  background: url('../assets/images/screenshot_20240416_at_11101.png') 50% / cover no-repeat;
  width: 192px;
  height: 143px;
}
.main-home .container-11 {
  border-radius: 30px;
  background: rgba(217, 217, 217, 0.5);
  position: relative;
  margin-right: 33px;
  display: flex;
  padding: 11px 11px 11px 10px;
  width: 213px;
  height: 165px;
  box-sizing: border-box;
}
.main-home .altitude-nightclub {
  margin-bottom: 47px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
}
.main-home .more-info-1 {
  margin: 0 19px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.main-home .container-18 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main-home .removebg-preview-2 {
  background: url('../assets/images/removebg_preview_4.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
  width: 165px;
  height: 42px;
}
.main-home .container-9 {
  position: relative;
  margin: 31px 0px 24px 0;
  display: flex;
  box-sizing: border-box;
}
.main-home .container-10 {
  position: relative;
  margin: 0 32px 25px 32px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.main-home .screenshot-20240416-at-11171 {
  border-radius: 30px;
  background: url('../assets/images/screenshot_20240416_at_11171.png') 50% / cover no-repeat;
  width: 190px;
  height: 149px;
}
.main-home .container-12 {
  border-radius: 30px;
  background: rgba(217, 217, 217, 0.5);
  position: relative;
  margin-right: 33px;
  display: flex;
  padding: 8px 12px 8px 11px;
  width: 213px;
  height: 165px;
  box-sizing: border-box;
}
.main-home .royale-dlux-club {
  margin-bottom: 42px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
}
.main-home .more-info-2 {
  margin: 0 19px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.main-home .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main-home .removebg-preview-3 {
  background: url('../assets/images/removebg_preview_4.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
  width: 165px;
  height: 42px;
}
.main-home .container-17 {
  position: relative;
  margin: 38px 0 22px 0;
  display: flex;
  box-sizing: border-box;
}
.main-home .container {
  position: relative;
  margin: 0 32px 28px 32px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.main-home .screenshot-20240416-at-11151 {
  border-radius: 30px;
  background: url('../assets/images/screenshot_20240416_at_11151.png') 50% / cover no-repeat;
  width: 192px;
  height: 140px;
}
.main-home .container-15 {
  border-radius: 30px;
  background: rgba(217, 217, 217, 0.5);
  position: relative;
  margin-right: 33px;
  display: flex;
  padding: 13px 10px 12px 11px;
  width: 213px;
  height: 165px;
  box-sizing: border-box;
}
.main-home .barol-lounge-bar {
  margin-bottom: 42px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
}
.main-home .more-info-3 {
  margin: 0 19px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.main-home .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main-home .removebg-preview-4 {
  background: url('../assets/images/removebg_preview_4.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
  width: 165px;
  height: 42px;
}
.main-home .container-1 {
  position: relative;
  margin: 23px 0 37px 0;
  display: flex;
  box-sizing: border-box;
}
.main-home .container-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.main-home .make-reservation {
  margin: 0 7.8px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 800;
  font-size: 28px;
  color: #FFFFFF;
}
.main-home .container-21 {
  margin-top: 30px;
  width: 50px;
  height: 50px;
}
.main-home .group-1 {
  margin: 39px 0 46px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.main-home .container-20 {
  position: relative;
  margin: 0 23.2px 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1273.8px;
  box-sizing: border-box;
}
.main-home {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 19px 20px 67px 91px;
  width: 1440px;
  box-sizing: border-box;
}
