.payment .ladies-night-at-levels-sukhumvit-11-siam-2-nite-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/ladies_night_at_levels_sukhumvit_11_siam_2_nite_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -85px;
  width: 1541px;
  height: 1024px;
}
.payment .group {
  width: 49px;
  height: 38.5px;
}
.payment .pepicons-printarrow-left {
  position: relative;
  margin: 0 204.8px 822.7px 0;
  display: flex;
  width: 49px;
  height: 38.5px;
  box-sizing: border-box;
}
.payment .payment-1 {
  margin: 0 0 43px 20.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Vast Shadow';
  font-weight: 400;
  font-size: 48.5px;
  color: #FFDD7B;
}
.payment .regular {
  margin: 0 24px 50px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ibarra Real Nova';
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.1px;
  line-height: 0.583;
  color: #FFDD7B;
}
.payment .table-for-2-table-for-4 {
  margin: 0 28px 10.8px 0;
  display: inline-block;
  width: 248.7px;
  overflow-wrap: break-word;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.1px;
  line-height: 0.933;
  color: #FFFFFF;
}
.payment .vector-3 {
  width: 24.5px;
  height: 24.5px;
}
.payment .fluentcheckbox-unchecked-20-regular-2 {
  margin-bottom: 14.5px;
  display: flex;
  width: 24.5px;
  height: 24.5px;
  box-sizing: border-box;
}
.payment .vector-4 {
  width: 24.5px;
  height: 24.5px;
}
.payment .fluentcheckbox-unchecked-20-regular-3 {
  display: flex;
  width: 24.5px;
  height: 24.5px;
  box-sizing: border-box;
}
.payment .container-7 {
  margin-top: 3.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24.5px;
  height: fit-content;
  box-sizing: border-box;
}
.payment .container-5 {
  margin-bottom: 54.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 301.2px;
  box-sizing: border-box;
}
.payment .rp-100000 {
  border: 2.3px solid #FFFFFF;
  margin-right: 18.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.1px;
  line-height: 1.589;
  color: rgba(57, 1, 114, 0.19);
}
.payment .container-2 {
  border-radius: 10px;
  border: 3px solid #FFFFFF;
  background: rgba(57, 1, 114, 0.2);
  position: relative;
  margin-right: 100.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18.3px 16.3px 18.2px 32.6px;
  width: 350px;
  box-sizing: border-box;
}
.payment .vip {
  margin: 0 0 14.5px 20.8px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Ibarra Real Nova';
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.1px;
  line-height: 0.583;
  color: #FFDD7B;
}
.payment .big-table-welcoming-drink-food-personal-attendant {
  margin: 0 29.5px 22.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.1px;
  line-height: 0.967;
  color: #FFFFFF;
}
.payment .vector-1 {
  width: 24.5px;
  height: 24.5px;
}
.payment .fluentcheckbox-unchecked-20-regular {
  margin-bottom: 29.7px;
  display: flex;
  width: 24.5px;
  height: 24.5px;
  box-sizing: border-box;
}
.payment .vector {
  width: 24.5px;
  height: 24.5px;
}
.payment .fluentcheckbox-unchecked-20-regular-4 {
  margin-bottom: 27.8px;
  display: flex;
  width: 24.5px;
  height: 24.5px;
  box-sizing: border-box;
}
.payment .vector-2 {
  width: 24.5px;
  height: 24.5px;
}
.payment .fluentcheckbox-unchecked-20-regular-1 {
  display: flex;
  width: 24.5px;
  height: 24.5px;
  box-sizing: border-box;
}
.payment .container-6 {
  margin-top: 7.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24.5px;
  height: fit-content;
  box-sizing: border-box;
}
.payment .container {
  margin-bottom: 17.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.payment .rp-800000 {
  border: 2.2px solid #FFFFFF;
  margin: 0 9.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.1px;
  line-height: 1.55;
  color: rgba(57, 1, 114, 0.19);
}
.payment .container-1 {
  border-radius: 10px;
  border: 3px solid #FFFFFF;
  background: rgba(57, 1, 114, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20.8px 20.3px 18.2px 28.5px;
  box-sizing: border-box;
}
.payment .container-8 {
  margin-bottom: 32.5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.payment .method-of-payment {
  margin: 0 14.1px 109.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Vollkorn SC';
  font-weight: 400;
  font-size: 40px;
  color: #FFDD7B;
}
.payment .next {
  overflow-wrap: break-word;
  font-family: 'Anonymous Pro';
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
}
.payment .container-4 {
  border-radius: 30px;
  border: 3px solid #FFFFFF;
  background: rgba(80, 0, 22, 0.5);
  position: relative;
  margin-left: 24.4px;
  display: flex;
  padding: 8.5px 0 17.5px 2.4px;
  width: 192px;
  box-sizing: border-box;
}
.payment .container-3 {
  border-radius: 64.6px;
  background: rgba(217, 217, 217, 0.5);
  position: relative;
  margin-top: 127.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16.9px 72.9px 49.2px 86.5px;
  box-sizing: border-box;
}
.payment {
  background: rgba(57, 1, 114, 0.19);
  display: flex;
  flex-direction: row;
  padding: 17.5px 0 0 15.8px;
  width: 1440px;
  box-sizing: border-box;
}
